@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Secular+One&display=swap');


html, button
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

